.env
.env.local
.env.*.local

.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db


rental-portal-backend/target/
rental-portal-backend/.mvn/
rental-portal-backend/*.jar
rental-portal-backend/*.war
rental-portal-backend/bin/
rental-portal-backend/.classpath
rental-portal-backend/.project
rental-portal-backend/.settings/
rental-portal-backend/.factorypath

rental-portal-frontend/property-rental-management-portal/node_modules/

rental-portal-frontend/property-rental-management-portal/dist/
rental-portal-frontend/property-rental-management-portal/.angular/

rental-portal-frontend/property-rental-management-portal/npm-debug.log*
rental-portal-frontend/property-rental-management-portal/yarn-debug.log*
rental-portal-frontend/property-rental-management-portal/yarn-error.log*
rental-portal-frontend/property-rental-management-portal/coverage/
