:host {
  display: contents;
}

.modal.size-sm {
  max-width: 440px;
}

.modal.size-md {
  max-width: 560px;
}

.modal.size-lg {
  max-width: 840px;
}

.close-btn {
  background: var(--bg);
  border-radius: 50%;
}

.close-btn:hover{
  background: var(--bg-2);
}